/* PC */
@media screen and (min-width: 992px) {
  .mobile-header {
    display: none;
  }
  .show-on-mobile {
    display: none;
  }
}
/* Tablet & mobile */
@media screen and (max-width: 991.98px) {
  .navbar {
    position: relative;
  }
  .navbar .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .navbar ul {
    display: none;
  }
  .toggle-menu svg {
    width: 24px;
    color: #666;
  }
  .menu-overlay {
    z-index: 1;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease;
  }
  .menu-drawer {
    z-index: 2;
    position: fixed;
    inset: 0 40% 0 0;
    padding: 60px;
    background: #fff;
    transform: translateX(-100%);
    transition: 0.5s ease;
  }
  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }
  .menu-drawer ul {
    margin-top: 32px;
  }
  .menu-drawer ul a {
    font-weight: 500;
    display: block;
    padding: 14px 0;
    color: #333;
  }
  .separate {
    border-top: 1px solid #ebebeb;
  }
  .hero-img {
    display: none;
  }
  .hero-wrap .info {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .hero-wrap .desc {
    width: 80%;
    margin: 30px auto auto;
  }
  .clients .images {
    flex-wrap: wrap;
    justify-content: center;
  }
  .guide-item {
    margin: 0;
    text-align: center;
    flex: 1;
  }
  .featured .list {
    margin-top: 70px;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }
  .stats .row {
    flex-direction: column;
  }
  .stats .img-block,
  .stats .info {
    width: 100%;
  }
  .stats .img-block {
    margin-top: 80px;
    order: 2;
  }
  .stats .info {
    order: 1;
    padding: 0;
  }
  .stats .sub-title {
    width: 70%;
  }
  .stats .info .desc {
    width: 100%;
  }
  .stats .row-qty {
    flex-direction: row;
  }
  .stats .qty-item .qty {
    font-size: 5rem;
  }
  .stats .qty-item .qty-desc {
    font-size: 1.5rem;
  }
  .subscription .image {
    display: none;
  }
  .footer .row-top {
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 80px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .show-on-mobile {
    display: none;
  }
}
/* Mobile */
@media screen and (max-width: 767.98px) {
  .hide-on-mobile {
    display: none;
  }
  .navbar .actions {
    display: none;
  }
  .menu-drawer {
    inset: 0 25% 0 0;
    padding: 40px;
  }
  .hero-wrap {
    height: calc(100vh - 80px);
  }
  .hero-wrap .title {
    margin-top: 20px;
    font-size: 5.2rem;
  }
  .hero-wrap .desc {
    width: 100%;
  }
  .clients .images {
    row-gap: 20px;
  }
  .list-guide {
    flex-direction: column;
    row-gap: 60px;
  }
  .guide-cta {
    margin-top: 60px;
  }
  .featured .link {
    display: none;
  }
  .featured .list {
    grid-template-columns: 1fr;
  }
  .view-all {
    display: flex;
    justify-content: center;
    margin-top: 60px;
  }
  .stats .sub-title {
    width: 100%;
  }
  .stats .img-block .image {
    width: 100%;
  }
  .stats-trend {
    left: 20px;
  }
  .stats .row-qty {
    flex-direction: column;
    row-gap: 60px;
    align-items: center;
  }
  .subscription .body {
    height: auto;
  }
  .subscription .info {
    padding: 32px;
  }
  .footer .row-top {
    column-gap: 20px;
  }
  .footer .row-bottom {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 24px;
  }
}
@media screen and (max-width: 575.98px) {
  .hero-wrap .title {
    font-size: 4.5rem;
  }
  .hero-wrap .desc {
    color: #5a6473;
    font-size: 1.4rem;
  }
}
